{
  "presets": ["es2015", "react"],
  "plugins": ["transform-export-extensions", "transform-object-rest-spread"],
  "comments": false,
  "env": {
    "start": {
      "presets": ["react-hmre"]
    }
  }
}
